/* abaixo são váriavel declaradas */
:root{
    --vermelho: #e50914;
    --preto: #141414;
}
/* por padrão cada navegador joga um valor de padding e margin */
/* por isso precisa ser feito um reset, que é o bloco abaixo */
* {
    margin: 0;
    padding: 0;
    /* o limite vai ser a borda da caixa para não sair da caixa */
    box-sizing: border-box;
}

/* elementos base */

body {
    background: var(--preto);
    font-family: 'Arial', Times, serif;
    color: whitesmoke;
}

header .container{
    /* utiliza flexbox para alinhar  */
    display: flex;
    /* por padrão vem como linhas */
    flex-direction: row;
    align-items: center;
    /* trabalha como os elementos ficam na horizontal */
    justify-content: space-between;
}

header nav{
    margin-right: 25px;
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Helvetica, sans-serif;
    font-size: 40px;
}

header nav a{
    /* retira as linhas de link */
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}

/* quando o mouse estiver em cima */
header nav a:hover{
    color: #fff;
}

/* tags dos filmes */
.filme-principal{
    font-size: 16px;
    background: 
    /* cria um efeito gradiente para ficar melhor a leitura do texto */
    linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.100)),
    url('/img/capa-house.jpg');
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify sempre segue a direção do flex */
    align-items: flex-start;
}

/* div por padrao vem com display block e se um div pai tem display flex, porem uma div filha não for especificado, a div filha terá display block */

.filme-principal .descricao {
    margin-bottom: 40px;
}

.titulo{
    /* posicionamento fluido utiliza percentual é o recomendado */
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: seashell;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: whitesmoke;
    color: var(--preto);
}

.botao a{
    text-decoration: none;
    color: seashell;
}

.botao:hover a{
    color: var(--preto);
}

.botao i{
    margin-right: 7px;
}

.container {
    margin-left: 20px;
}

.filme-principal .container {
    width: 70%;
}

/* configurações do carrosel */
.carrosel{
    margin-bottom: 0px;
}
.carrosel p{
    margin: 10px 20px;
}
.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

/* configurações botao play nas miniaturas */
.play{
    position: absolute;
    visibility: hidden;
    opacity: 0.5;
    transition: .2s;
    top: 25%;
    left: 10%;
}

.item:hover .play{
    visibility: visible;
    opacity: 0.6;
}

.carrosel-filmes{
    margin-top: 5px;
}